/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-content {
  padding: 20px;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
.align-items {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

app-toolbar-filler {
  flex: 1 1 auto;
}



